extends layout

block content
  h1= title
  p #{head}
  form(method="POST", action="/changePassword")
          .modal-body
            .form-group
              label(for="signinName") 用户名
              input#signinName.form-control(name="username", type="text")
            .form-group
              label(for="signinPassword") 原密码
              input#signinPassword.form-control(name="password", type="text")
            .form-group
              label(for="signinPassword") 新密码
              input#signinPassword.form-control(name="newpassword", type="text")
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") 关闭
            button.btn.btn-success(type="submit") 提交